<div class="container">
	<div class="row">
		<h1 class="landing-title">ABOUT THIS</h1>
	</div>

	<div class="row margin-top-short justified-text">
		<p class="lead col-lg-8 col-lg-offset-2 col-xs-10 col-xs-offset-1">
			'How They Code' is a software development company search app, where you can see how well (or bad) does a company work depending on some surveys employees or ex-employees fill (using the <a href="http://www.joelonsoftware.com/articles/fog0000000043.html" target="_blank">Joel's test</a>).
		</p>
		<p class="lead col-lg-8 col-lg-offset-2 col-xs-10 col-xs-offset-1">
			If your company is not registered, you can create it and fill the survey yourself. If it is already registered, just go and answer the questions.
		</p>
		<p class="lead col-lg-8 col-lg-offset-2 col-xs-10 col-xs-offset-1">
			This site is based on faith in people, so it's up to you if you trust it or not. It's not a place to troll, it's just a place to get some information.
		</p>

		<p class="lead col-lg-8 col-lg-offset-2 col-xs-10 col-xs-offset-1">
			You can have a look or fork this proyect <a href="http://github.com/ge09/howtheycode">on Github</a>
		</p>

	</div>

	<div class="row">
		<ul class="lead col-lg-8 col-lg-offset-2 col-xs-10 col-xs-offset-1 centered-text"> <h3>These are the 12 questions</h3>
			<li>Do you use source control?</li>
			<li>Can you make a build in one step?</li>
			<li>Do you make daily builds?</li>
			<li>Do you have a bug database?</li>
			<li>Do you fix bugs before writing new code?</li>
			<li>Do you have an up-to-date schedule?</li>
			<li>Do you have a spec?</li>
			<li>Do programmers have quiet working conditions?</li>
			<li>Do you use the best tools money can buy?</li>
			<li>Do you have testers?</li>
			<li>Do new candidates write code during their interview?</li>
			<li>Do you do hallway usability testing?</li>
		</ul>
	</div>

	<div class="row">
		<div class="col-xs-10 col-xs-offset-1">
		    <button type="submit" ng-click="goBack()" class="btn btn-secondary landing-input landing-submit">Go back</button>
		</div>
	</div>

</div>