<h1 class="landing-title">{{company.name}}</h1>

<h2 class="centered-text">{{company.companyScore | number : 2}}/12</h2>

<h3 class="centered-text">{{company.locationText}}</h3>

<ui-gmap-google-map center='map.center' zoom='map.zoom'>
	<ui-gmap-marker coords="marker.coords" options="marker.options" events="marker.events" idkey="marker.id">
      </ui-gmap-marker>
</ui-gmap-google-map>


<div class="row">
	<a href="#/new-survey/{{company._id}}" class="btn btn-secondary landing-input landing-submit">Take survey</a>
</div>

<div class="col-xs-10 col-xs-offset-1">
    <button type="submit" ng-click="goBack()" class="btn btn-secondary landing-input landing-submit">Go back</button>
</div>

