
<div class="container">

	<div class="row" ng-show="companies.length==0">
		<div class="row">
			<h2 class="centered-text col-xs-10 col-xs-offset-1">Ups! We couldn't find anything. Try to find something else, or just add a new company.</h2>
		</div>
		<form class="form-horizontal">
			<fieldset>
				<div class="col-xs-10 col-xs-offset-1">
					<input ng-model="searchText" class="landing-input landing-textbox" placeholder="You know, type" type="text">
				</div>
				<div class="col-xs-10 col-xs-offset-1">
	        		<a ng-disabled="!searchText" href="#/search/{{searchText}}" type="submit" class="btn btn-secondary landing-input landing-submit">Try again</a>
	        		<p class="centered-text lead">or...</p>
        			<a href="#/search" type="submit" class="btn btn-secondary landing-input landing-submit centered-text col-lg-8 col-xs-10">See all</a>
	        		<p class="centered-text lead">or...</p>
				</div>
			</fieldset>
		</form>
	</div>

	<div class="row">

		<div class="jumbotron padding col-xs-10 col-xs-offset-1" ng-repeat="company in companies | orderBy:company.companyScore">
			<h2>{{company.name}}</h2>
			<h4>{{company.companyScore | number : 2}}/12</h4>
			<h4>{{company.locationText}}</h4>
			<p><a href="#/company/{{company._id}}">Details</a></p>
			<p><a href="#/new-survey/{{company._id}}">Fill the survey</a></p>
		</div>
	</div>

	<div class="row">
		<a href="#/new" class="btn btn-secondary landing-input landing-submit">Add new company</a>
	</div>

	<div class="col-xs-10 col-xs-offset-1">
	    <button type="submit" ng-click="goBack()" class="btn btn-secondary landing-input landing-submit">Go back</button>
	</div>

</div>