

.padding {
	padding: 1em;
}

.margin {
	margin: 1em;
}

.landing-title {
	text-align: center;
	font-size: 8em;
}

.landing-input {
	width: 100%;
	font-size: 8em;
	text-align: center;
}

.landing-textbox {
	border-style: none;
	border-bottom-style: solid;
	border-bottom-width: 0.1rem;
}

.landing-submit {
	background-color: white;
	color: black;
	font-weight: 100;
}

.landing-submit:hover, .landing-submit:focus{
	color: gray;
}

.black-link {
	width: 100%;
	color: black;
	font-size: 3em;	
}

.landing-link {
	text-align: center;

}

.black-link:hover, .black-link:focus{
	color: gray;
}

.landing-input:focus {
	outline: 0;
	border-bottom-width: 0.2rem;
}

.margin-top {
	margin-top: 20rem;
}

.margin-top-short {
	margin-top: 10rem;
}

.margin-top-tiny {
	margin-top: 5rem;
}

.not-found-title {
	font-size: 20em;
}

.not-found-subtitle {
	text-align: center;
}

.centered-text {
	text-align: center;
}

.regular-input, .regular-input:focus {
	font-size: 3rem;
	border-style: none;
	border-bottom-style: solid;
	box-shadow: none;
}

.regular-input:focus {
	outline: 0;
}

.regular-button {
	width: 100%;
	height: 5em;
	margin-top: 2em;
}

.angular-google-map-container {
	height: 50rem;
	margin-top: 3rem;
}

.container {
	margin-top: 6rem;
}

.datepicker {
	width: 200px;
  	display: block;
  	margin-left: auto;
  	margin-right: auto;
}


.navbar-bottom {
	height: 10vh;
	background-color: #28364f;
	color:#FFFFFF;
}

.footer-link, .footer-link:hover {
	color: white;
	text-decoration: none;
}

.justified-text {
	text-align: justify;
}

ul
{
    list-style-type: none;
}

@media screen and (max-width: 1024px) {
	.landing-title {
		font-size: 5em;
	}

	.landing-input {
		font-size: 5em;
	}
}

@media screen and (max-width: 720px) {
	.landing-input {
		font-size: 3em;
	}
}
